{% extends 'base.html' %}

{% block content %}
  {% if object%}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
  {% else %}
    <h1 >Add Cat</h1>
  {% endif %}
  <!-- Leaving the action empty maked the form post to the same url used to display it -->
  <form action="" method="POST">
    <!-- Django requires the following for security purposes (cross-site-request-forgery)-->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="submit" value="{{ object|yesno:'Update Cat, Add Cat' }}" class="btn">
  </form>

{% endblock %}

